/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13.12.2014, 1:19:14
    Author     : Diralf
*/



@media screen and (min-width:750px) {
    .head-title {
        position: absolute;
        bottom: 0px;
        right: 0px;
    }
    .headimage {
        position: relative;
        background-color: #222;
        font-size: 60px;
    }
}
@media screen and (max-width:749px) {
    .head-title {
        display: none;
        width: 50%;
        float:right;
        position: absolute;
        bottom: 0px;
        right: 0px;
    }
    .headimage {
        position: relative;
        background-color: #222;
        font-size: 60px;
    }
}




.sizeble-head {
    max-width: 420px;
    width: 100%;
}

body {
    background-color: #111;
    background-image: url(img/background.jpg);
    background-size: 120%;
    margin-bottom: 1em;
    position: relative;

}

.testpost {
    //max-width: 920px;
    margin: 0 auto;
}

.game-post {
    max-width: 920px;
    background-color: #151715;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    margin-top: 1em;
    border: 1px solid #151515;
}

.nonoutline {
    color: #9aba9b;
    text-decoration: none;
    outline: none;
}

.game-header {
    font-size: 30px;
}

.game-description {
    position: relative;
}

.game-rating {
    border: 1px solid #222;
    padding-bottom: 1em;
}

.game-img {
    margin: 0em 1em 1em 0em;
}

.game-body {
    padding-left: 1em;
}

.game-screenshot {
    margin-top: 1em;
    border: 1px solid #000;
    background-color: #111;
    padding: 1em;
}

.game-preview-screenshots{
    border: 1px solid #000;
    padding: 1em;
}

.game-preview-screenshot{
    display: inline-block;
    width:15%;
    min-width: 120px;
    padding: 1px;

    //border: 2px solid #000;
}

.game-footer {
    font-size: 12px;
    position: absolute;
    right: 0;
    bottom: 0;
    padding-top: 1em;
    padding-right: 1em;
}

.blog-text {
    color: #aaCaab;
}

.sizeble-img {
    max-width: 460px;
    width: 100%;
    border: 1px solid #111;
}

.mini-img {
    max-width:1000px; 
    width: 100%;
    min-width: 124px;
}

.pager div {
    display: inline-block;
    border: 1px solid #222;
    cursor: pointer;
}

.pager div > a,
.pager div > span {
    color: #9aba9b;
    background-color: #353535;
    border: 4px solid #353535; 
    text-decoration: none;
    outline: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.pager div > span.active {
    background-color: #AaCaAb;
    color: #353535;
    border-color: #AaCaAb;
}

.pager div > span.disabled {
    color: #111;
}

.page-contant {
    position: relative;  
    min-height: 100%;
}

.page-footer{
    background-color: #252525;
    color: #666;
    position: relative;  
}

* {  
    margin: 0;  
    padding: 0;  
}  
html,body{
    height: 100%;
} 

.openpost , .home {
    cursor: pointer;
}