<div id="template-post-preview">
    {{#pagination}}<div id="game-pagination-top">{{>pagination}}</div>{{/pagination}}
    <div id="filter" ></div>
    <div class="row">
        <div class=" blog-text" id="page-post">
            {{#game}}
            <div class="game-post img-rounded testpost" >
                {{#full}}
                <div class="game-header">
                    <span>{{title}}</span>
                </div>
                {{/full}}


                <div class="game-description row">
                    <div class="game-img col-sm-6">
                        {{^full}}<div class="openpost" onclick="openGame('{{_id}}')">{{/full}}
                            <img class="sizeble-img"  src={{image}}>
                            {{^full}}</div>{{/full}}
                    </div>
                    <div class='game-rating col-sm-5'>
                        {{^full}}
                        <div class="openpost" onclick="openGame('{{_id}}')"> 
                            <div class="game-header">
                                <span>{{title}}</span>
                            </div>
                        </div>
                        {{/full}}
                        <p>{{#full}}Title: {{title}}<br>{{/full}}
                            Genre: {{genre}}<br>
                            Developer: {{developer}}<br>
                            Release Date: {{#release}}{{formatRelease}}{{/release}}</p>
                        <div>
                            <p>Tags:</p>
                            {{#tags}}
                            <span class="label label-success">{{.}}</span>
                            {{/tags}}
                        </div>

                    </div>
                </div>

                {{#full}}
                <div class="row">
                    <div class="game-body col-sm-7">
                        <p>{{description}}</p>
                    </div>
                </div>
                {{/full}}
            </div>
            {{#full}}
            {{#isScreens}}
            <div class="game-screenshot img-rounded" id="screenshot">
                <div>
                    <div class="game-preview-screenshots" >
                        {{#screenshots}}

                        <div class="game-preview-screenshot">
                            <img data-target="#carousel-example-generic" data-slide-to="{{id}}" class="img-rounded mini-img {{^active}}active{{/active}}" src={{img}} alt="...">     
                        </div>

                        {{/screenshots}}
                    </div>
                </div>

                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-wrap="false">
                    <div class="carousel-inner" role="listbox">
                        {{#screenshots}}
                        <div class="item {{^active}}active{{/active}}" >
                            <a href={{img}}><img class="testpost" src={{img}} alt="..."></a>
                        </div>
                        {{/screenshots}}
                    </div>
                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            {{/isScreens}}
            {{/full}}


            {{/game}}
            {{^game}}
            <div class="game-post img-rounded testpost" >Game not found.</div>
            {{/game}}
        </div>
    </div>
    {{#pagination}}<div id="game-pagination-bottom">{{>pagination}}</div>{{/pagination}}
</div>

